
    #bg_calendario {
        position:absolute;
        z-index:0;
        background:white;
        display:block;
        min-height:50%; 
        min-width:50%;
        color:yellow;
    }

    #bg-text
    {
        color:lightgrey;
        font-size:120px;
        transform:rotate(300deg);
        -webkit-transform:rotate(300deg);
        
    }

